fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
pydantic
python-multipart
redis
pandas
numpy
scikit-learn
xgboost
joblib
mlflow
prometheus-fastapi-instrumentator
requests
shap